main{
    width: 60%;
    background-color: #f5f5;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 30%;
    display:flex;
    position: absolute;
    justify-content:space-between;
    text-align: center;
padding-top: 50px;    
padding-bottom: 50px;
}
.news{
    margin-right: 40px;
}
h3{
    margin-top: 5px;
    margin-bottom: 20px;   
    font-weight: 700;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{ 
    margin-bottom: 50px;   
    text-align: right;
    font-size: small;
}
.midia{
    margin-bottom: 80px;
}
