section{
    width: 40%;
    background-color: white;
    margin-left: 30%;
    margin-top: 5%;
    display:grid;
    position: absolute;
    justify-content:center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
padding-top: 50px;    
padding-bottom: 50px;

}
