*{
    margin: 0%;
    padding: 0px;
}
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: magenta;
color: white;
}
header{
display: flex;
position:absolute ;
justify-content:space-around ;
}
.menu{
    border: 2px solid;
    border-radius: 10px;
    border-color: darkblue;
    box-shadow: 2px 2px 2px blueviolet;
    padding: 20px;
    font-size: x-large;
}
li{
    list-style-type: none;
    
    }
h1{
text-align: center;
margin-top: 5%;
}
h2{
    text-align: justify;
margin-top: 0%;
margin-right: 20%;
margin-bottom: 2%;
margin-left: 30%;

}
footer{
    margin-top: 90%;
    display: flex;
justify-content: space-between;
}
a{
    text-decoration: none;
color: goldenrod;
}
p{
    margin-top: 30px;
}
